@use 'base/mixins' as m;
@use 'base/variables' as v;

.memories {
    &__heading {
        text-transform: uppercase;
        font-family: v.$secundaryFont;
        text-align: center;
        margin: 0;
        color: v.$primary;
        padding: 3rem 0;
    }

    &__grid {
        @include m.grid(1, 2rem);
        padding-bottom: 5rem;
        
        @include m.tablet { 
            @include m.grid(2, 2rem);
        }
    
        @include m.desktop { 
            @include m.grid(3, 2rem);
        }
    }
}

.memory {
    background-color: v.$primary;
    text-align: center;
    color: v.$white;
    border-radius: 0.5rem;
    width: auto;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        padding-top: 1.5rem;
    }

    &__content {
        opacity: 0;
        padding: 5.5rem 0;

        &:hover {
            opacity: 1;
        }
    }

    &__description {
        margin: 0;
        padding: 1rem 3rem;
    }

    &:nth-child(1) {
        @include m.memories("../img/memory1.jpg");
    }

    &:nth-child(2) {
        @include m.memories("../img/memory2.jpg");
    }

    &:nth-child(3) {
        @include m.memories("../img/memory3.jpg");
    }

    &:nth-child(4) {
        @include m.memories("../img/memory4.jpg");
    }

    &:nth-child(5) {
        @include m.memories("../img/memory5.jpg");
    }

    &:nth-child(6) {
        @include m.memories("../img/memory6.jpg");
    }

}